.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
