@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.collection-preview {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;

  .title {
    font-size: clamp(3rem, 3.5vw, 3.5rem);
    margin-bottom: clamp(0.5rem, 1.2vw, 1.5rem);
    font-family: 'Style Script', cursive;
    font-weight: lighter;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
