@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-family: 'Style Script', cursive;
    font-size: clamp(3rem, 4.2vw, 4rem);
    font-weight: lighter;
    color: #000;
    margin: 0 auto;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
