.sign-in {
  width: 30vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .sign-in {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
