.sign-up {
  width: 30vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.button {
  text-align: right;
}
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .sign-up {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
