.checkout-item {
  width: 100%;
  display: flex;
  min-height: 6rem;
  border-bottom: 1px solid darkgrey;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }
  .quantity {
    display: flex;
    margin: 0 auto;

    .arrow {
      cursor: pointer;
      vertical-align: middle;
    }

    .value {
      margin: 0 10px;
      vertical-align: middle;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
