$sub-color: grey;
$main-color: black;

.wrapper {
  width: 30rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: $main-color;
  }
  .group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 30rem;
    margin: 2rem auto;
    padding: 0;

    .form-input {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $sub-color;
      margin: 0 0 10px;
      &:focus {
        outline: none;
      }
    }
    .button {
      text-align: right;
    }
  }
}
